.NutritionFacts {
  border: 1px solid black;
  margin: 20px;
  float: left;
  width: 280px;
  padding: 0.5rem;
  font-size: small;
  line-height: 1.4;
}
.NutritionFacts table {
  border-collapse: collapse;
}

.NutritionFacts__table, .NutritionFacts__table--grid, .NutritionFacts__table--small {
  width: 100%;
}
.NutritionFacts__table thead tr th, .NutritionFacts__table--grid thead tr th, .NutritionFacts__table--small thead tr th,
.NutritionFacts__table thead tr td,
.NutritionFacts__table--grid thead tr td,
.NutritionFacts__table--small thead tr td {
  border: 0;
}
.NutritionFacts__table th, .NutritionFacts__table--grid th, .NutritionFacts__table--small th,
.NutritionFacts__table td,
.NutritionFacts__table--grid td,
.NutritionFacts__table--small td {
  font-weight: normal;
  text-align: left;
  padding: 0.25rem 0;
  border-top: 1px solid black;
  white-space: nowrap;
}
.NutritionFacts__table td:last-child, .NutritionFacts__table--grid td:last-child, .NutritionFacts__table--small td:last-child {
  text-align: right;
}
.NutritionFacts__table .blank-cell, .NutritionFacts__table--grid .blank-cell, .NutritionFacts__table--small .blank-cell {
  width: 1rem;
  border-top: 0;
}
.NutritionFacts__table .thick-row th, .NutritionFacts__table--grid .thick-row th, .NutritionFacts__table--small .thick-row th,
.NutritionFacts__table .thick-row td,
.NutritionFacts__table--grid .thick-row td,
.NutritionFacts__table--small .thick-row td {
  border-top-width: 5px;
}

.small-row {
  font-size: 0.7rem;
}

.thin-end {
  border-bottom: 1px solid black;
}

.thick-end {
  border-bottom: 10px solid black;
}

.NutritionFacts__table--small {
  border-bottom: 1px solid #999;
  margin: 0 0 0.5rem 0;
}
.NutritionFacts__table--small thead tr {
  border-bottom: 1px solid black;
}
.NutritionFacts__table--small td:last-child {
  text-align: left;
}
.NutritionFacts__table--small th,
.NutritionFacts__table--small td {
  border: 0;
  padding: 0;
}

.NutritionFacts__table--grid {
  margin: 0 0 0.5rem 0;
}
.NutritionFacts__table--grid td:last-child {
  text-align: left;
}
.NutritionFacts__table--grid td:last-child::before {
  font-weight: bold;
  margin: 0 0.25rem 0 0;
}

.text-center {
  text-align: center;
}

.NutritionFacts__header {
  border-bottom: 10px solid black;
  padding: 0 0 0.25rem 0;
  margin: 0 0 0.5rem 0;
}
.NutritionFacts__header p {
  margin: 0;
}
.NutritionFacts__header h1 {
  font-weight: bold;
  font-size: 2rem;
  margin: 0 0 0.25rem 0;
}