.NutritionFacts {
    border: 1px solid black;
    margin: 20px;
    float: left;
    width: 280px;
    padding: 0.5rem;
    font-size: small;
    line-height: 1.4;

    table {
        border-collapse: collapse;
    }

}

.NutritionFacts__table {
    width: 100%;

    thead tr {

        th,
        td {
            border: 0;
        }
    }

    th,
    td {
        font-weight: normal;
        text-align: left;
        padding: 0.25rem 0;
        border-top: 1px solid black;
        white-space: nowrap;
    }

    td {
        &:last-child {
            text-align: right;
        }
    }

    .blank-cell {
        width: 1rem;
        border-top: 0;
    }

    .thick-row {

        th,
        td {
            border-top-width: 5px;
        }
    }

}

.small-row {
    font-size: 0.7rem;
}
.thin-end {
    border-bottom: 1px solid black;
  }
.thick-end {
    border-bottom: 10px solid black;
}

.NutritionFacts__table--small {
    @extend .NutritionFacts__table;
    border-bottom: 1px solid #999;
    margin: 0 0 0.5rem 0;

    thead {
        tr {
            border-bottom: 1px solid black;
        }
    }

    td {
        &:last-child {
            text-align: left;
        }
    }

    th,
    td {
        border: 0;
        padding: 0;
    }
}

.NutritionFacts__table--grid {
    @extend .NutritionFacts__table;
    margin: 0 0 0.5rem 0;

    td {
        &:last-child {
            text-align: left;

            &::before {
                // content: "•";
                font-weight: bold;
                margin: 0 0.25rem 0 0;
            }
        }
    }
}

.text-center {
    text-align: center;
}

.NutritionFacts__header{
    border-bottom: 10px solid black;
    padding: 0 0 0.25rem 0;
    margin: 0 0 0.5rem 0;
    p {
      margin: 0;
    }
    h1{
        font-weight: bold;
        font-size: 2rem;
        margin: 0 0 0.25rem 0;
    }
}
